:root {
    --void: rgb(54, 66, 68);
    --sage: rgb(178, 250, 234);
    --mooncheese: rgb(241, 241, 210);
    --bleen: rgb(3, 170, 170);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--mooncheese);
    color: var(--void);
}

* a:hover {
    color: var(--bleen);
}

header {
    display: flexbox;
    flex-direction: column;
    flex-wrap: wrap;
    width: 99%;
    text-align: center;
}

.start-button {
    background-color: var(--bleen);
    width: 100px;
    height: 40px;
    font-size: medium;
    border-radius: 5px;
    color: white;
}

.timerhs {
margin-top: 15px;
}

body {
    display: flex;
    width: 99%;
    flex-direction: column;
    
}

main {
    flex: 1 0 auto;
    margin-left:400px;
    margin-right:200px;
}

/* Hide everything but the header */
.questions, .end, .score-display {
    display: none;
}

/*Sets button color for all but the answer selectors and startu button to the color bleen, with a medium font, sets button text to white*/
.submit-button, .back-button, .clear-button {
    background-color: var(--bleen);
    width: 100px;
    font-size: medium;
    border-radius: 5px;
    justify-items: center;
    color: white;
}

/* */
.start-button:hover,
.submit-button:hover, .back-button:hover, .clear-button:hover {
    background-color: var(--sage);
    color: var(--bleen);
}

/*hide the bullet points from multiple choice section*/
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    padding-left: 50px;
   }

li {
    margin-bottom: 10px;
}

/* */
.a-button {
    background-color: white;
    font-size: medium;
    border-radius: 5px;
}

/* */
.a-button:hover {
    background-color: var(--sage);
}

 
