:root {
    --void: rgb(54, 66, 68);
    --sage: rgb(178, 250, 234);
    --mooncheese: rgb(241, 241, 210);
    --bleen: rgb(3, 170, 170);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--mooncheese);
    color: var(--void);
}

header {
    display: flexbox;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

body {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.button {
    background-color: var(--bleen);
    width: 100px;
    font-size: medium;
}

.button:hover {
    background-color: var(--sage);
}

.timerhs {
    display: flexbox;
    flex-wrap: wrap;
    margin: 50px;
}

.timerhs a:hover {
 color: var(--bleen);
}

